<li class="nav-item active">
    <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsePagesProduct"
        aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-boxes"></i>
        <span>Product</span></a>
    </a>
    <div id="collapsePagesProduct" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'add_brand' %}">New Brand</a>
            <a class="collapse-item" href="{% url 'brand_list' %}">Brand List</a>
            <a class="collapse-item" href="{% url 'add_category' %}">New Category</a>
            <a class="collapse-item" href="{% url 'category_list' %}">Category List</a>
            <a class="collapse-item" href="{% url 'add_product' %}">New Product</a>
            <a class="collapse-item" href="{% url 'product_list' %}">Product List</a>
        </div>
    </div>
</li>