<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesReport" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-chart-line"></i>
        <span>Report</span></a>
    </a>
    <div id="collapsePagesReport" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="login.html">Today's Report</a>
            <a class="collapse-item" href="{% url 'expenseReport' %}">Expense Report</a>
            <a class="collapse-item" href="{% url 'purchaseReport' %}">Purchase Report</a>
            <a class="collapse-item" href="{% url 'returnReport' %}">Return Report</a>
            <a class="collapse-item" href="{% url 'saleReport' %}">Sales Report</a>
        </div>
    </div>
</li>